[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mongoengine = "*"
faker = "*"
pymongo = {extras = ["srv"], version = "==3.11"}
pika = "*"

[dev-packages]

[requires]
python_version = "3.11"
